include header
block header

include mainmenu
block mainmenu

include edit_form_inputs
block edit_form_inputs

block body
    div.container.noselect
      div.page-header
        h1 #{pagetitle}
      div
      
        form.form-horizontal#form
          input(type='hidden' value=id)#id.form-control

          div.panel.panel-default
            div.panel-heading A hiba részletei
            div.panel-body

              - var severity_elements = [ { severity: 0, label: 'Jelentéktelen', hint: 'Nem zavarja a működést, de kellemetlen'}, { severity: 1, label: 'Enyhe', hint: 'A hiba megkerülhető, de zavaró'}, { severity: 2, label: 'Súlyos', hint: 'Egy vagy több fontos funkció helytelenül működik'}, { severity: 3, label: 'Kritikus', hint: 'Egy vagy több fontos funkció teljesen működésképtelen'}, { severity: 4, label: 'Fatális', hint: 'Teljes leállást okoz'}, { severity: 5, label: 'Fejlesztési javaslat', hint: 'Javaslat, ötlet továbbfejlesztéshez, módosítási kérelem'}, { severity: 6, label: 'Megoldva', hint: 'A probléma megszűnt'} ]
              +select_with_hint('Súlyossági fok változása', 'severity', severity_elements, 'severity', 'label', 'hint', data.severity)
              +textarea('A javítási lépés leírása', 'description', 'Részletesen fejtsd ki. HTML kódok használhatóak.', '', 10)
        
          div.panel.panel-default
            div.panel-heading Képek hozzáadása
            div.panel-body
            
              input(type='hidden', value=data._id)#id
              input(type='hidden', value=data.severity)#previous_severity.form-control
              button#btnUpload.btn.btn-default Hozzáadás
              input#uploadFile(type="file", accept="image/*").hidden
              
              div#thumbnails
              
          div.alert.alert-danger#error

          div.panel.panel-default
            div.panel-body.formsubmit
              div.row
                div.col-xs-12.col-sm-12.col-md-4.col-lg-4
                  button#btnPost.btn.btn-default Lépés felvétele
                div.col-xs-12.col-sm-12.col-md-4.col-lg-4
                  button#btnReset.btn.btn-default Mezők törlése
                div.col-xs-12.col-sm-12.col-md-4.col-lg-4
                  button#btnCancel.btn.btn-default Mégsem
            
include footer
block footer
  script(src='/javascript/pages/bugs_addstage.js')
