include header
block header

include mainmenu
block mainmenu

block body
    div.container
      div.page-header
        h1 Dashboard
        p Itt lehet mindenfélét beállítani

include footer
block footer
