block footer
  footer.footer.noselect
    div.container
      p.text-muted
        img(src='pic/pixeldog_mini.png').minilogo
        a(href='/useredit?id='+userid)
         |#{username}

script(src='javascript/jquery-3.1.1.min.js')
script(src='javascript/bootstrap.min.js')
script(src='javascript/general.js')
script(src='javascript/md5.min.js')
