include header
block header

include mainmenu
block mainmenu

include edit_form_inputs
block edit_form_inputs

block body
    div.container.noselect
      div.page-header
        h1 Jelleg törlése
      div
      
        div.panel.panel-default
          div.panel-body
            p.lead Biztosan törölni akarod ezt a jelleget?

            p
              table.table.table-striped.table-responsive
                +row('Kategória', name)
                +row('Azonosító', id, 'id')
            
        div.alert.alert-danger#error

        div.panel.panel-default
          div.panel-body.formsubmit
            div.row
              div.col-xs-12.col-sm-12.col-md-6.col-lg-6
                button#btnDelete.btn.btn-default Igen, törlöm
              div.col-xs-12.col-sm-12.col-md-6.col-lg-6
                button#btnCancel.btn.btn-default Nem, mégsem
            
include footer
block footer
  script(src='/javascript/pages/weapon_types_delete.js')
