include header
block header

include mainmenu
block mainmenu

include edit_form_inputs
block edit_form_inputs

block body
    div.container.noselect
      div.page-header
        h1 Fegyver törlése
      div
      
        div.panel.panel-default
          div.panel-body
            p.lead Biztosan törölni akarod ezt a vizsgálati lapot?
            
            p
              table.table.table-striped.table-responsive
                +row('Név', data.weapon.name)
                +row('Gyártási szám', data.weapon.serialno)
                +row('Kaliberjel', data.weapon.caliber)
                +row('Sorszám', data.weapon.serialno)
                +row('Tulajdonos', data.weapon.caliber)
                +row('Vizsgálat időpontja', data.date_formatted)
                +row('A vizsgálatot végezte', data.examiner)
                +row('Azonosító', data._id, 'id')
            
        div.alert.alert-danger#error

        div.panel.panel-default
          div.panel-body.formsubmit
            div.row
              div.col-xs-12.col-sm-12.col-md-6.col-lg-6
                button#btnDelete.btn.btn-default Igen, törlöm
              div.col-xs-12.col-sm-12.col-md-6.col-lg-6
                button#btnCancel.btn.btn-default Nem, mégsem
            
include footer
block footer
  script(src='/javascript/pages/weapons_exam_sheet_delete.js')
