.alert {
  display: none;
  cursor: pointer;
}

#loader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.8)0%, rgba(68,68,68,0.8) 100%);
  z-index: 10000;
  display: none;
  justify-content: center;
  align-items: center;
}

#loader div {
  text-align: center;
  font-weight: bold;
  color: #4A4A4A;
  background-color: #FFFFFF;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  user-select: none;
  max-width: 80vw;
  min-width: 220px;
}

#loader img {
  margin-top: 0.5em;
}

li a {
  cursor: pointer;
}

nav, .noselect {
  user-select: none;
  cursor: default;
}

.minilogo {
    display: inline-block;
    margin-right: 1em;
    vertical-align: middle;
}

.skypebutton {
    margin: 0;
    display: inline-block;
}

.skypename {
    display: inline-block;
    margin-right: 1em;
}

.skypebutton img {
    margin: 0 !important;
    vertical-align: middle !important;
}

@media (max-width: 600px) {
  .tablecol-600 {
    display: none !important;
  }
}

@media (max-width: 700px) {
  .tablecol-700 {
    display: none !important;
  }
  .form-control{
    margin-bottom: 0.5em;
  }
}

@media (max-width: 800px) {
  .tablecol-800 {
    display: none !important;
  }
}

.tableglyph {
  text-align: center;
  cursor: pointer;
  width: auto;
  max-width: auto !important;
}

td :not(.tableglyph) {
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  max-width: 10vw;
}

.glyphicon {
  max-width: 1em;
  margin: 0 !important;
  padding: 0 !important;
  user-select: none;
}

thead {
  user-select: none;
  cursor: default;
}

.page-header {
  margin-top: -4em;
  padding-top: 0;
}

.page-header-print {
    margin-bottom: 1em;
    font-size: 1.6em;
}

.form-control {
  margin-right: 0.5em;
}

.hidden {
  display: none;
}

.nav-tabs {
  border-bottom: 0;
  margin-left: 1em;
  user-select: none;
}

.formsubmit {
  text-align: center;
  width: 100%;
}

.formsubmit button {
  margin-right: 1em;
  min-width: 80%;
}

#paginator {
  width: auto;
  float: right;
}

.table-total {
  text-align: right;
}

.form-group button, .form-group input[type=button], .panel-footer button {
  margin-right: 0.5em;
}

.table-control {
  width: 2.5em !important;
  max-width: 2.5em !important;
  min-width: 2.5em !important;
  text-align: center;
  overflow: hidden;
}

.table-control a {
  cursor: pointer;
}

.hint {
  opacity: 0.75;
  margin-top: 0.5em;
}

textarea {
  resize: none;
}

.progress .bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.blink {
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.panelheader-field {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.panelheader-field span {
  margin-right: 0.3em;
  margin-left: 0.3em;
  vertical-align: middle;
}

.panelheader-field span:first {
  margin-left: 0;
}

.panelheader-field span:last {
  margin-right: 0;
}

.panelheader-field :first {
  margin-left: 0;
}

.panelheader-field :last {
  margin-right: 0;
}

input[type=checkbox] {
    height: 1.5em;
    width: 1.5em;
    display: block;
    cursor: pointer;
    margin-top: 0;
    padding-top: 0;
    max-width: 1.5em !important;
    min-width: 1.5em;
    padding: 0;
    clear: both;
    float: left;
}

label {
  cursor: pointer;
}

.checkbox span {
  margin-left: 1em;
}

.form-small {
  font-size: 0.75em;
  max-height: 2em;
  display: inline-block;
  min-width: 10em;
  vertical-align: middle;
}

.hiddenedit {
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  user-select: none;
  text-align: right;
  padding: 0;
  min-width: 100%;
  width: 12em;
  max-width: 12em;
  margin: 0;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

input[type=range] {
  border: none;
  box-shadow: none;
  padding: 0;
  -webkit-appearance: none;
  width: 100%;
  margin: 0;
  display: inline-block;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #e6e6e6;
  border-radius: 1.3px;
  border: 0.2px solid #cccccc;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1.1px 1.1px 0px rgba(0, 0, 49, 0.45), 0px 0px 1.1px rgba(0, 0, 75, 0.45);
  border: 1px solid #cccccc;
  height: 25px;
  width: 14px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #f3f3f3;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #e6e6e6;
  border-radius: 1.3px;
  border: 0.2px solid #cccccc;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1.1px 1.1px 0px rgba(0, 0, 49, 0.45), 0px 0px 1.1px rgba(0, 0, 75, 0.45);
  border: 1px solid #cccccc;
  height: 25px;
  width: 14px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #d9d9d9;
  border: 0.2px solid #cccccc;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #e6e6e6;
  border: 0.2px solid #cccccc;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1.1px 1.1px 0px rgba(0, 0, 49, 0.45), 0px 0px 1.1px rgba(0, 0, 75, 0.45);
  border: 1px solid #cccccc;
  height: 25px;
  width: 14px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #e6e6e6;
}
input[type=range]:focus::-ms-fill-upper {
  background: #f3f3f3;
}

.colordot {
  display: inline-block;
  border-radius: 0.3em;
  margin-right: 1em;
  min-width: 2em;
  min-height: 1em;
  width: 2em;
  height: 1em;
  border: 1px solid #CCCCCC;
  vertical-align: middle;
}

.red {
  background-color: #FF0000;
}

.yellow {
  background-color: #FFDD00;
}

.green {
  background-color: #00FF00;
}

input[type=radio] {
  display: inline-block;
  vertical-align: top;
  margin-right: 1em;
}

.form-short {
  display: inline-block;
  width: 7em;
  max-width: 7em;
}

.testgroup .container-fluid {
  border-bottom: 1px solid #CCCCCC;
  padding-top: 1em;
  padding-bottom: 1em;
}

.testgroup .form-group:last-child .container-fluid {
  border-bottom: none;
  padding-bottom: 0;
  padding-top: 0;
}

.testgroup .radiogroup {
  margin-left: 1em;
}

.img-holder {
  min-width: 100%;
  text-align: right;
}

.printimage {
    border: 1px solid #CCCCCC;
    width: auto;
    max-width: 49% !important;
    min-width: 40% !important;
    height: auto;
    padding: 4px;
    margin: 4px;
    display: inline-block;
    vertical-align: top;
}
